-var pageTitle="homepage";
html(lang="en")
    head

        meta( charset="utf_8", lang="en", dir="ltr" )
        meta(name="viewport",content="width=device-width,initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible",content="ie=edge")
        title #{pagetitle}
        include pug/layout/styles
    body
        .page.homepage
            include pug/layout/sidebar
            .content-area
                 include pug/layout/header
                 .content content
                 
                
             
        include pug/layout/scripts     
        script(src="http://localhost:35729/livereload.js")


